.app {
  background-color: #fc1d49;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app_main {
  width: 25rem;
  display: grid;
  place-items: center;
}

.app_main div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app_main div h1 {
  font-size: 1.5rem;
  text-align: center;
}

.app_main div form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8.5rem;
  width: 20rem;
}

.app_main div form input {
  height: 2rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 9px;
  background: #e60a2f;
  box-shadow: inset 7px 7px 14px #ad0823, inset -7px -7px 14px #ff0d3b;
}

.app_main div form button {
  border-radius: 13px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  height: 2rem;
  border: none;
  background: #ff1744;
  box-shadow: 7px 7px 14px #ab0f2e, -7px -7px 14px #ff1f5a;
}
